{% extends "register/base.html" %}
{% block content %}
	<table class="table">
		<tbody>
		<tr>
			<th>店舗名</th>
			<td>{{ restaurant_detail.restaurant_name_text }}</td>
		</tr>
		<tr>
			<th>所在地</th>
			<td>{{ restaurant_detail.restaurant_address }}</td>
		</tr>
		<tr>
			<th>市区町村</th>
			<td>{{ restaurant_detail.restaurant_city }}</td>
		</tr>
		<tr>
			<th>エリア</th>
			<td>{% for area in restaurant_detail.city_area.all %}
				{{ area }}
			{% endfor %}</td>
		</tr>
		<tr>
			<th>情報更新日時</th>
			<td>{{ restaurant_detail.mod_date }}</td>
		</tr>
		<tr>
			<th>ジャンル</th>
			<td>{% for genre in restaurant_detail.restaurant_genre.all %}
				{{ genre }}
			{% endfor %}</td>
		</tr>
		<tr>
			<th>コメント</th>
			<td>{{ restaurant_detail.restaurant_comment }}</td>
		</tr>
		</tbody>
	</table>
    <a href="{% url 'info_edit:user_edit_main' %}">店情報変更</a>
    <a href="{% url 'info_edit:menu_create2' r_pk=restaurant_detail.pk %}">メニュー追加</a>
    <ul>
    {% for menu in restaurant_detail.Menu.all %}
        <li><span>{{ menu.menu_name_text }}</span><span><a href="{% url 'info_edit:menu_update' pk=menu.pk %}">情報変更</a></span></li>
    {% endfor %}

    </ul>
{% endblock %}