{% extends "register/base.html" %}
{% block content %}
	<table class="table">
		<tbody>
		<tr>
			<th>店舗名</th>
			<td>{{ restaurant.restaurant_name_text }}</td>
		</tr>
		<tr>
			<th>所在地</th>
			<td>{{ restaurant.restaurant_address }}</td>
		</tr>
		<tr>
			<th>市区町村</th>
			<td>{{ restaurant.restaurant_city }}</td>
		</tr>
		<tr>
			<th>エリア</th>
			<td>
            {% for area in restaurant.restaurant_city.city_area.all %}
				{{ area }}
			{% endfor %}</td>
		</tr>

		<tr>
			<th>ジャンル</th>
			<td>{% for genre in restaurant.restaurant_genre.all %}
				{{ genre }}
			{% endfor %}</td>
		</tr>
		<tr>
			<th>コメント</th>
			<td>{{ restaurant.restaurant_comment }}</td>
		</tr>
        {% for r_image in restaurant.RestaurantImage.all %}
            <tr>
            <th>{{ r_image.title }}</th>
            <td><img src="/images/{{ r_image.image }}" alt="{{ r_image.title }}"></td>
            </tr>
        {% endfor %}
		</tbody>
	</table>
    <a href="{% url 'info_edit:restaurant_update' pk=restaurant.pk %}">店情報変更</a>
    <a href="{% url 'info_edit:menu_create' %}">メニュー追加</a>
    <ul>
    {% for menu in menu_list.all %}
        <li><span>{{ menu.menu_name_text }}</span><span><a href="{% url 'info_edit:menu_edit' menu.pk %}">情報変更</a></span></li>
    {% endfor %}

    </ul>
{% endblock %}